
body {
  background-image: url("../images/Wood.jpg");
  background-size: 1700px 900px;
}

h1{
  font-family: 'Libre Caslon Text', serif;
  font-size: 70px;
  text-align: center;
  color: white;
  font-weight:normal;
  }

.logo{
  width: 427px;
  height: 170px;
  float:left;
  position:absolute;
  top: -5px;
  z-index: 20;
  left:0px;
}


header{
  font-family: 'Libre Caslon Text', serif;
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  position:fixed;
  top:0px;
  right:0px;
  background: #413734;
  width: 80%;
}

header nav li {
    display: inline-block;
    padding: 34px;
}

header nav li:hover{
    color: #c8b3a9;
}

p{
  font-family: 'Arimo', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}

img{
  width:350px;
  position: fixed;
  left: 665px;
}
figure{
  color: white;
  position: fixed;
  left: 550px;
}

.border img {
transition: .5s ease;
}

.border img:hover{
box-shadow: 0 0 0 10px #000000;
transition: .5s ease;
}

main{
  padding-top: 180px;
  max-width: 90%;
  margin: 0 auto;
}


footer{
  font-family: 'Arimo', sans-serif;
  font-size: 10px;
  color: white;
  float: left;
  position: fixed;
  bottom: 10px;
}
